<h1>Shit is working fam</h1>

<form (submit)="doStuff()">
    <label>Name:</label><br>
    <input name="name" type="text" [(ngModel)]="name"><br>
    <label>W-Number:</label><br>
    <input name="wnum" type="text" [(ngModel)]="wnum"><br>
    <label>Password:</label><br>
    <input name="password" type="text" [(ngModel)]="password"><br>
    <label>Admin:</label><br>
    <input name="isAdmin" type="radio" value="true" [(ngModel)]="isAdmin">Yes<br>
    <input name="isAdmin" type="radio" value="false" [(ngModel)]="isAdmin">No<br>
    <input type="submit" value="Submit" onclick="doStuff()">
</form>

<div> {{ message }} </div>

<ul>
  <li *ngFor="let user of users">{{ user.name }}</li>
</ul>